.animated {
  animation: spin 0.8s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

button:active {
  opacity: 0.5;
}
